name: deploy-app

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  deploy-app:
    runs-on: ubuntu-latest

    steps:
      - name: Print deployment message
        run: echo "Deploying app..."