name: Python Setup Workflow

on:
  push:

jobs:
  python-setup:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install pytest flake8

      - name: Verify Python version
        run: python --version

      - name: Check Flake8 version
        run: flake8 --version

      - name: Check Pytest version
        run: pytest --version